<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Чертоги разума</title>
    <link rel="stylesheet" href="aboutUs.css">
</head>
<body>
    <header class="header">
        <a href="home.html" class="link"><img class="logo" src="Rectangle 7.png" alt="logo"></a>

        <div class="nav-img">
            <nav class="nav">
                <ul class="list">
                    <li class="item"><a href="home.html" class="link">Домой</a></li>
                    <li class="item"><a href="aboutUs.html" class="link">О нас</a></li>
                    <li class="item"><a href="aboutProject.html" class="link">О проекте</a></li>
                    <li class="item"><a href="exhibit.html" class="link">Список экспанатов</a></li>
                    <li class="item"><a href="faq.html" class="link">FAQ</a></li>
                </ul>
            </nav>
            
        </div>
        <button class="btn">Вход/Регистрация</button>
    </header>
    <main class="main">
<h1 class="comand">Команда Эклипсы</h1>
<p class="we">Команда одноклассников настроенных на победу и получения опыта от любого посещаемого мероприятия! "Пришел за опытом ушел с победой" - наш девиз.</p>
<p class="we">Прошин Илья - менеджер проекта. Работал и работает в медиа сфере, есть опыт освещения, помощи в проведении, участия в хакатонах.</p>        
<p class="we">Панков Илья - дизайнер проекта. Работал в Figma, делает макеты в проекте, подбирает шрифты, размера, логотип.</p>
<p class="we">Трофимов Виктор - разработчик проекта. Пишет весь код в проекте, пишет back и front сайта.</p>       
    </main> 
    <footer class="footer">

    </footer>
    
</body>
</html>